 <template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                Crear nuevo Registro
            </div>
            <div class="card-body">
                    <form  @submit.prevent = "submit" id="createPost"> 
                        <div class="form-group">
                            <label for="title">Nombre</label>
                            <input class="form-control" id="title" name="title"  type="title" placeholder="Nombre" v-model="form.title" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="Cedula">Cedula de Identidad</label>
                            <input class="form-control" id="Cedula" name="Cedula"  type="integer" placeholder="Cedula" v-model="form.Cedula" autocomplete="off">
                        </div>
                         <div class="form-group">
                            <label for="Salida">Ciudad de Salida</label>
                            <input class="form-control" id="Salida" name="Salida" type="text" placeholder="Salida" v-model="form.Salida">
                        </div>
                        <div class="form-group">
                            <label for="destino">Ciudad Destino</label>
                            <select class="form-control" id="category" name="category" v-model="form.category"> 
                                <option selected="true" disabled="disabled" value="">Seleccione una Ciudad</option>
                                <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                            </select> 
                        </div>
                        <div class="form-group">
                            <label for="destino">Numero de Asiento</label>
                            <input class="form-control" id="numero_asiento" name="numero_asiento"  type="integer" placeholder="numero_asiento" v-model="form.numero_asiento" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="fecha">Fecha de Salida</label>
                            <input class="form-control" id="fecha" name="fecha"  type="date" placeholder="fecha" v-model="form.fecha" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="hora">Hora</label>
                            <input class="form-control" id="hora" name="hora"  type="time" placeholder="hora" v-model="form.hora" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <input class="form-control" id="precio" name="precio"  type="integer" placeholder="precio" v-model="form.precio" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="title">Imagen</label>
                            <input class="form-control" id="image" name="image"  type="file" placeholder="Subir Imagen" v-on:change="onImageChange">
                        </div>
                        <div class="form-group">
                            <label for="body">Contenido</label>
                            <input class="form-control" id="body" name="body" type="text" placeholder="todos los comentarios" v-model="form.body" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Crear Registro</button>
                    </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return {
            form:{
                title:'',
                category:'',
                body:'',
                Cedula:'',
                Salida:'',
                destino:'',
                numero_asiento:'',
                fecha:'',
                hora:'',
                precio:'',
            },
            image:''
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys'
        })
    },
    methods:{
        ...mapActions({
            send_create_post:'post/createPost',
            get_all_categorys:'category/getCategorysAll'
        }),
        onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){
            //await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            //formData.append('image',this.image)
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))

            //console.log(formData)

            /*for(var key of formData.entries()){
                console.log(key[0] +' , ' + key[1])
            }*/
            
            let data = {
                config:config,
                formdata:formData
            }

            try {
                await this.send_create_post(data)   
                $('#createPost')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            } catch (error) {
                let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal|({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
                
            }
        },
    },
    mounted(){
            this.get_all_categorys()
    }
}
</script>
