<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                Editar Registros
            </div>
            <div class="card-body">
                    <form  @submit.prevent = "submit"> 
                        <div class="form-group">
                            <label for="title">Nombre</label>
                            <input class="form-control" id="title" name="title"  type="title" placeholder="Nombre" v-model="getPost.title" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="Cedula">Cedula de Identidad</label>
                            <input class="form-control" id="Cedula" name="Cedula"  type="integer" placeholder="Cedula" v-model="getPost.Cedula" autocomplete="off">
                        </div>
                         <div class="form-group">
                            <label for="Salida">Ciudad de Salida</label>
                            <input class="form-control" id="Salida" name="Salida" type="text" placeholder="Salida" v-model="getPost.Salida" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="destino">Ciudad Destino</label>
                            <select class="form-control" id="category" name="category" v-model="getPost.categoryId"> 
                                <option selected="true" disabled="disabled" value="">Seleccione una Ciudad</option>
                                <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                            </select> 
                        </div>
                        <div class="form-group">
                            <label for="destino">Numero de Asiento</label>
                            <input class="form-control" id="numero_asiento" name="numero_asiento"  type="integer" placeholder="numero_asiento" v-model="getPost.numero_asiento" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="fecha">Fecha de Salida</label>
                            <input class="form-control" id="fecha" name="fecha"  type="date" placeholder="fecha" v-model="getPost.fecha" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="hora">Hora de Salida</label>
                            <input class="form-control" id="hora" name="hora"  type="time" placeholder="hora" v-model="getPost.hora" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <input class="form-control" id="precio" name="precio"  type="integer" placeholder="precio" v-model="getPost.precio" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="title">Imagen</label>
                            <input class="form-control" id="image" name="image"  type="file" placeholder="Subir Imagen" v-on:change="onImageChange">
                        </div>
                        <div class="form-group">
                            <label for="body">Contenido</label>
                            <textarea class="form-control" id="body" rows="3" v-model="getPost.body"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg btn-block">Editar Registro</button>
                    </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return {
            form:{
                title:'',
                category:'',
                body:'',
                Cedula:'',
                Salida:'',
                destino:'',
                numero_asiento:'',
                fecha:'',
                hora:'',
                precio:'',
            },
            image:''
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys',
            getPost:'post/detail_post'
        })
    },
    methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll',
            get_post:'post/detailPost',
            edit_post:'post/editPost'
        }),
        onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){
            this.form={
                title:$('#title').val(),
                category:$('#category').val(),
                body:$('#body').val(),
                Cedula:$('#Cedula').val(),
                Salida:$('#Salida').val(),
                destino:$('#destino').val(),
                numero_asiento:$('#numero_asiento').val(),
                fecha:$('#fecha').val(),
                hora:$('#hora').val(),
                idpost:this.getPost.id // esto para el mi propio metodo para actualizar
            }
            
            
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            //formData.append('_method','PUT') // AÑADIR PARA EL METODO POR DEFECTO PUT PARA ACTUALIZAR

            

            for(var value of formData.values()){
                console.log(value)
            }
            
            let data = {
                config:config,
                parameter:this.$route.params.slug,
                formdata:formData
            }
            await this.edit_post(data)

        },
    },
    mounted(){ 
            this.get_all_categorys()
            this.get_post(this.$route.params.slug)
    }
}
</script>
