<template>
    <div>
        <NavHome :color="color"/>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading"> Bienvenido a Empresa "Sumaj Orcko"</div>
                <div class="masthead-heading text-uppercase">Sistema web  venta de boletos para la empresa de transporte “SUMAJ ORKO”  </div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Inicie Seccion</a>
            </div>
        </header>
      
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Informaciones</h2>
                    <h3 class="section-subheading text-muted">Los Buses Disponibles de la empresa</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/about/bus cama.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>BUS CAMA-LEITO</h4> 
                            </div>
                            <div class="timeline-body"><p class="text-muted">El servicio ofrece butacas confortables de paño con 140° de inclinación y apoyo para pies. Atención personalizada con auxiliar a bordo, música funcional y video, calefacción, servicio de catering y baño químico, ofrece una coneccion de wifi y cables para cargar su telefono movil.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/images/about/bussemicama.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>BUS SEMI-CAMA</h4> 
                            </div>
                            <div class="timeline-body"><p class="text-muted">Servicio Semicama: Tiene, además de las comodidades del servicio común con aire, 4 hileras de asientos individuales, reclinables, con apoyabrazos, apoyapiernas y apoyapiés, baño y suspensión neumática, entre otras cosas.</p></div>
                        </div>
                    </li>         
                </ul>
            </div>
        </section>
       
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Copyright © Your Website 2021</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a class="mr-3" href="#!">La Paz</a>
                        <a href="#!">Cochabamba</a>
                    </div>
                </div>
            </div>
        </footer>
       
    </div>
</template>

<script>
import NavHome from '../components/NavHome'
export default {
    name:'Home',
    data(){
        return {
            color:''
        }
    },
    components:{NavHome},
}
</script>