<template>
     <form  action="#" @submit.prevent = "submit">
  <div class="container">
    <h1>REGISTARSE PARA INICIAR SESION</h1>
    <hr>

	<label for="nombre"><b>Nombre:</b></label>
    <input type="text" placeholder="Nombre" name="name" id="name" v-model="form.name">
    <br>

    <label for="email"><b>Correo Electronico:</b></label><br>    
    <input type="text" placeholder="Inserte Su correo Electronico" name="email" id="email" v-model="form.email"><br>

    <label for="password">Contraseña:</label>
    <input type="password" placeholder="Inserte su contraseña" name="password" id="password" v-model="form.password"><br>

    <label for="password">Confirmar Contraseña</label>
    <input type="password" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation"><br>
    <hr>

    <button type="submit" class="registerbtn">REGISTRARSE</button>
  </div>

</form>

</template>

<script>
import {mapActions} from 'vuex'
export default {
    name:'SignUp',
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>
